/*CSS File For Login-In webpage*/ 
#body-color{ 
    background-color:aqua; 
} 
#log-In{
     /* margin-top:250px; 
     margin-bottom:250px;  */
     margin-right:250px; 
     margin-left:550px; 
     border:3px solid #a1a1a1; 
     padding:9px 35px; 
     background:#8000CC; 
     width:400px;
      border-radius:20px;
       box-shadow: 7px 7px 6px;
       width: 30%;
     } 
#button
{ 
    border-radius:10px;  
    background:#FF00FF; 
    font-weight:bold; 
    font-size:20px;
    margin-top: 20px; 
}
#img{
    width: 75%;
    height: 75%;
}
#header{
    text-align: center;
}